[user]
	name = thomas-fazzari
	email = 122701528+thomas-fazzari@users.noreply.github.com

[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  fsmonitor = true
  pager = delta
  untrackedcache = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  line-numbers = true

[init]
	defaultBranch = master

[fetch]
	prune = true

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[alias]
	s = status
	co = checkout
	b = branch
	c = commit
	cm = commit -m
	ca = commit --amend
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --graph --oneline --decorate --all
	aliases = config --get-regexp ^alias\\.
	undo = reset HEAD~1 --mixed

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
